---
title: Rezepte
permalink: "de/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
pagination:
  data: collections.recipes_de
  size: 15
  alias: recipes
---

{% set pagetitle = "Rezepte" %}
{% set class = "home" %}
{% set language = "de" %}
{% extends 'layouts/main.njk' %}

{% block content %}
	<h1>Rezepte</h1>

	<ul class="recipes">
		{% for recipe in recipes %}
			<li>
				{% include 'parts/card.njk' %}
			</li>
		{% endfor %}
	</ul>

	{% include 'parts/pagination.njk' %}
{% endblock %}