---
title: Recettes
permalink: "fr/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
pagination:
  data: collections.recipes_fr
  size: 15
  alias: recipes
---

{% set pagetitle = "Recettes" %}
{% set class = "home" %}
{% set language = "fr" %}
{% extends 'layouts/main.njk' %}

{% block content %}
	<h1>Recettes</h1>

	<ul class="recipes">
		{% for recipe in recipes %}
			<li>
				{% include 'parts/card.njk' %}
			</li>
		{% endfor %}
	</ul>

	{% include 'parts/pagination.njk' %}
{% endblock %}