---
title: Recipes
---

{% set pagetitle = "Recipes" %}
{% set class = "home" %}
{% extends 'layouts/main.njk' %}

{% block content %}

<h1>Recipes</h1>

<ul class="feed">
	{% for recipe in collection.recipes %}
		<li>
			<article class="recipe">
				<h2>
					<a href="{{recipe | slug}}">
						{% if recipe.data.external %}
							<span class="sr-only">External Link</span>
							{% svg 'icons/external' %}
						{% endif %}
						{{ recipe.data.title }}
					</a>
				</h2>
				{% if recipe.data.categories %}
					<ul class="tags">
						{% for tag in recipe.data.categories %}
							<li>
								<a>#{{tag}}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</article>
		</li>
	{% endfor %}
</ul>
{% endblock %}