---
title: Recipes
pagination:
  data: collections.recipes
  size: 15
  alias: recipes
---

{% set pagetitle = "Recipes" %}
{% set class = "home" %}
{% extends 'layouts/main.njk' %}

{% block content %}
	<h1>Recipes</h1>

	<ul class="recipes">
		{% for recipe in recipes %}
			<li>
				{% include 'parts/card.njk' %}
			</li>
		{% endfor %}
	</ul>

	{% include 'parts/pagination.njk' %}
{% endblock %}