---
backend:
  name: git-gateway
  repo: amykapernick/meal_planning
  branch: dev

local_backend: true

media_folder: site/src/img/cms
public_folder: "/img/cms/"

site_url: https://mealplanning-kapers.netlify.app

collections:
  - name: recipe
    label: Recipes
    label_singular: Recipe
    folder: site/recipes
    media_folder: ""
    public_folder: ""
    extension: md
    create: true
    editor:
      preview: false
    fields:
      - label: Title
        name: title
        widget: string
      - label: Hours Required
        name: time
        widget: string
      - label: Difficulty
        name: difficulty
        widget: select
        multiple: false
        options: ["Easy", "Medium", "Hard", "Masterchef"]
      - label: Categories
        name: categories
        widget: select
        multiple: true
        options:
          ["Beef", "Chicken", "Pork", "Vegetarian", "Main", "Desset", "Snack"]
      - label: Ingredients
        name: ingredients
        widget: list
        required: false
        fields:
          - label: Ingredients
            name: ingredients
            widget: relation
            collection: ingredients
            value_field: name
            search_fields: [name]
            display_fields: [name]
          - label: Quantity
            name: quantity
            widget: number
          - label: Measurement
            name: measurement
            widget: select
            multiple: false
            options:
              [
                "Cup",
                "Kilograms",
                "Ounces",
                "Litres",
                "Grams",
                "Millilitres",
                "Teaspoon",
                "Tablespoon",
              ]
      - label: Method
        name: body
        widget: markdown
  - name: ingredient
    label: Ingredients
    label_singular: Ingredient
    folder: site/ingredients
    extension: md
    create: true
    editor:
      preview: false
    fields:
      - label: Name
        name: name
        widget: string
      - label: Cup
        name: cup
        widget: string
      - label: Kilograms
        name: kg
        widget: string
      - label: Ounces
        name: oz
        widget: string
      - label: Litres
        name: litre
        widget: string
