.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

	a {
		padding: 10px;

		&:hover {
			background: var.$darkpurple;
			color: var.$background;
		}
	}
}

.site-title {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 50px;
	max-width: 100px;

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

nav {
	color: var.$purple;
	font-family: var.$font_heading;
	font-weight: 500;

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul {
		display: flex;
		justify-content: space-between;
		margin: -5px;

		&:before {
			content: '';
			width: 0;
		}
	}

	li {
		margin: 5px;
		white-space: nowrap;
	}

	a {
		text-decoration: none;
	}
}

@media(min-width: 40em) {
	.header {
		padding: 20px 50px;
	}

	nav {
		font-size: 1.5em;
	}
}

@media(min-width: 60em) {
	.header {
		padding: 20px 5vw;
	}
}

@media(min-width: 70em) {
	.header {
		width: 90vw;
		max-width: 1100px;
		margin: 0 auto;
		padding: 20px 0;
	}
}
