.recipes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -10px;
	padding: 0;

	> li {
		flex-basis: 250px;
		flex-grow: 1;
		flex-shrink: 0;
		max-width: 400px;
		margin: 10px;
		padding: 0;
		list-style-type: none;
	}
}

@media(min-width: 50em) {
	.recipes {
		> li {
			flex-basis: 300px;
		}
	}
}
